.calendar {

    width: 100%;
    font-size: 1em;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        font-size: 16px;
        padding: 8px;
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70%;
            text-align: center;
            margin: auto;
        }
        &:hover {
            background: #eee;
            opacity: 0.8;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        > * {
            height: 60px;
            text-align: center;
            button {
                color: rgba(111, 111, 111, 1);
            }
        }
        .prev {
            width: 60px;
            font-size: 18px;
        }
        .current {
            width: 40%;
            button {
                font-size: 20px;
            }
        }
        .next {
            width: 60px;
            font-size: 18px;
        }
    }

    .views {
        .weekdays {
            display: flex;
            align-items: center;
            height: 40px;
            .weekday {
                flex: 0 0 14.2857%;
                overflow: hidden;
                text-align: center;
            }
        }
        .days {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .day {
                flex: 0 0 14.2857%;
                height: 60px;
                overflow: hidden;
                text-align: center;
                button {
                    span {
                        display: block;
                        height: 20px;
                    }
                    div {
                        height: 30px;
                    }
                }
            }
        }
    }

    .today {
        button {
            background: rgba(236, 236, 140, 0.5);
        }
    }
    .sun {
        color: rgb(200, 100, 100);
        button {
            color: rgb(200, 100, 100);
        }
    }
    .sat {
        color: rgb(100, 100, 200);
        button {
            color: rgb(100, 100, 200);
        }
    }
    .hol {
        button {
            color: rgb(200, 100, 100);
        }
    }
    .oth {
        button {
            color: rgba(111, 111, 111, 0.5);
        }
    }
}