.calendar {
    width: 100%;
    background: #fff;
    * {
        box-sizing: border-box;
    }
    &.bg_gray {
        background: #f0f0f080;
        border: 1px solid #aaa;
        button {
            &:hover {
                background: #fff;
            }
        }
    }
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: rgba(111, 111, 111, 1);
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 70%;
            text-align: center;
            margin: auto;
            padding-top: 4px;
        }
        svg {
            width: 13px;
            height: 13px;
        }
        &:hover {
            background: #eee;
            opacity: 0.8;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        > * {
            height: 30px;
            line-height: 30px;
            padding: 10px 0;
            text-align: center;
            box-sizing: content-box;
        }
        .prev {
            width: 30px;
        }
        .current {
            width: 40%;
            button {
                position: relative;
                font-size: 16px;
                &:hover {
                    border-radius: 4px;
                }
            }
        }
        .next {
            width: 30px;
        }
    }

    .views {
        .weekdays {
            display: flex;
            align-items: center;
            height: 30px;
            line-height: 30px;
            .weekday {
                flex: 0 0 14.2857%;
                overflow: hidden;
                text-align: center;
                font-size: 0.8em;
            }
        }
        .days {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .day {
                flex: 0 0 14.2857%;
                overflow: hidden;
                text-align: center;
                padding: 4px 0;
                button {
                    height: 30px;
                    width: 30px;
                    font-size: 14px;
                    span {
                        display: block;
                        height: 18px;
                        line-height: 18px;
                    }
                }
                div {
                    height: 20px;
                    font-size: 0.6em;
                }
            }
        }
    }

    .today {
        button {
            background: rgba(255, 230, 100, 0.8);
        }
    }
    .sun {
        color: rgb(200, 100, 100);
        button {
            color: rgb(200, 100, 100);
        }
    }
    .sat {
        color: rgb(100, 100, 200);
        button {
            color: rgb(100, 100, 200);
        }
    }
    .hol {
        button {
            color: rgb(200, 100, 100);
        }
    }
    .oth {
        button {
            color: #bbc9b7;
        }
    }
}