.container {

	height: 100%;
	max-height: 100%;
	max-width: 100%;

	.MuiDialog-paper {
		min-width: 640px;
		min-height: 520px;
	}

	.header {
		font-weight: bold;
		height: 50px;
		line-height: 50px;
		display: flex;
		justify-content:space-between;
		padding: 0 0.8em;
		background: linear-gradient(90deg,#51d99c,#9ce7bb);
		color: #fff;
		font-size: 1.2em;
		svg {
			fill: #fff;
		}
		.close {
			stroke-width: 2px;
		}
	}

	.contents {
		flex-grow: 1;
		overflow-x: auto;
		background: #f0f0f0;
		max-height: calc(100% - 50px);
		padding-bottom: 50px;
	}
}
.up {
	top: initial!important;
	margin: auto;
	padding: 0;
	max-width: 1150px;
	div[aria-labelledby="up"] {
		background: transparent;
		border-radius: 10px;
		bottom: 0!important;
		min-width: 95%;
		max-width: 90%;
		max-height: calc(100% - 50px);
		margin: 0;
	}
}

.left {
	> div {
		display: flex;
		justify-content: flex-end;
	}
	div[aria-labelledby="left"] {
		background: transparent;
		border-radius: 0;
		bottom: 0!important;
		right: 0!important;
		height: 100%;
		max-height: 100%;
		width: 40%;
		min-width: 320px;
		max-width: 100%;
		margin: 0;
		.contents {
			padding-bottom: 50px;
		}
	}
}

.right {
	> div {
		display: block;
	}
	left: 0!important;
	div[aria-labelledby="right"] {
		background: transparent;
		border-radius: 0;
		left: 0!important;
		bottom: 0!important;
		max-width: 90%;
		height: 100%;
		max-height: 100%;
		margin: 0;
	}

}

.down {
	> div {
		display: block;
	}
	div[aria-labelledby="down"] {
		background: transparent;
		border-radius: 0;
		top: 0!important;
		width: 100%;
		height: 40%;
		margin: auto;
	}
}

.full {
	div[aria-labelledby="full"] {
		border-radius: 0;
		width: 96%;
		height: 96%;
		max-width: 1200px;
		margin: auto;
		top: 0!important;
		bottom: 0!important;
	}
}

.harf {
	div[aria-labelledby="harf"] {
		border-radius: 0;
		width: 70%;
		height: 50%;
		max-width: 600px;
		margin: auto;
		top: 0!important;
		bottom: 0!important;
	}
}

.MuiBackdrop-root {
	background-color: rgba(0, 0, 0, 0.1)!important;
}